---

---
<section class="rounded-lg p-1 shadow">
    <div class="bg-gray-900/30 backdrop-blur-sm rounded-2xl p-6 border border-gray-800/50 hover:border-blue-500/50 transition-colors duration-300 h-100 text-start text-white">
        <div class="mx-auto max-w-7xl px-6 lg:px-8 mb-6">
            <p class="mt-2 text-3xl font-semibold tracking-tight text-pretty text-indigo-400 sm:text-5xl">Qui suis-je</p>

            <p class="mt-6 text-lg/6 text-gray-300">J’accompagne des équipes (Startups, PME et grands comptes) à fiabiliser leurs applications et à prioriser les travaux techniques pour scaler sans casse. 🚀
            </p>
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                <div class="lg:pt-4 lg:pr-8">

                    <div class="lg:max-w-lg">

                        <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-400 lg:max-w-none">
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-white">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="absolute top-1 left-1 size-5 text-indigo-400">
                                        <path d="M5.5 17a4.5 4.5 0 0 1-1.44-8.765 4.5 4.5 0 0 1 8.302-3.046 3.5 3.5 0 0 1 4.504 4.272A4 4 0 0 1 15 17H5.5Zm3.75-2.75a.75.75 0 0 0 1.5 0V9.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0l-3.25 3.5a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                    Développement Full‑Stack — Conception / architecture d’application
                                </dt>
                                <dd class="inline">Je conçois et développe vos applications web Saas, outils de gestion, Api, optimise les temps de vos requêtes</dd>
                            </div>
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-white">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="absolute top-1 left-1 size-5 text-indigo-400">
                                        <path d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                    Audit express (1 jour)
                                </dt>
                                <dd class="inline">diagnostic synthétique + actions à mettre en place</dd>
                            </div>
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-white">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="absolute top-1 left-1 size-5 text-indigo-400">
                                        <path d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z" />
                                        <path d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                    Audit complet (3–5 jours)
                                </dt>
                                <dd class="inline">rapport détaillé + roadmap priorisée</dd>
                            </div>
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-white">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="absolute top-1 left-1 size-5 text-indigo-400">
                                        <path d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z" />
                                        <path d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z" clip-rule="evenodd" fill-rule="evenodd" />
                                    </svg>
                                    Accompagnement / CTO partiel :
                                </dt>
                                <dd class="inline">coaching & suivi opérationnel</dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <div class="pt-6"><img width="450" height="1442" src="/me-photo.jpg" alt="Product screenshot" class="w-3xl max-w-none rounded-xl shadow-xl ring-1 ring-white/10 sm:w-228 md:-ml-4 lg:-ml-0 mt-3" /></div>

            </div>
        </div>
    </div>

</section>