---

---
<section class="rounded-lg p-1 shadow w-auto ml-10 mr-10 p-4">
    <div class="bg-gray-900/30 backdrop-blur-sm rounded-2xl p-6 border border-gray-800/50 hover:border-blue-500/50 transition-colors duration-300 h-100 text-start text-white">
        <div class="mx-auto max-w-7xl px-6 lg:px-8 mb-6">
            <div class="flex items-center">
                <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="absolute top-1 left-1 size-5  mt-4 mr-2 text-blue-400 h-12 w-12">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>

                <p class="text-5xl font-bold bg-gradient-to-r from-blue-400 via-blue-300 to-blue-100 bg-clip-text text-transparent animate-gradient-x whitespace-pre-linefont-semibold">Qui suis-je</p>
            </div>


            <p class="mt-6 text-lg/6 text-gray-300">J’accompagne des équipes (Startups, PME et grands comptes) à fiabiliser leurs applications et à prioriser les travaux techniques pour scaler sans casse. 🚀
            </p>
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                <div class="lg:pt-4 lg:pr-8">

                    <div class="lg:max-w-lg">

                        <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-400 lg:max-w-none">
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-white">

                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="absolute top-1 left-1 size-5 text-indigo-400">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                                    </svg>

                                    Développement Full‑Stack — Conception / architecture d’application
                                </dt>
                                <dd class="inline">Je conçois et développe vos applications web Saas, outils de gestion, Api, optimise les temps de vos requêtes</dd>
                            </div>
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-white">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="absolute top-1 left-1 size-5 text-indigo-400">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                                    </svg>

                                    Audit express (1 jour)
                                </dt>
                                <dd class="inline">diagnostic synthétique + actions à mettre en place</dd>
                            </div>
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-white">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="absolute top-1 left-1 size-5 text-indigo-400">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
                                    </svg>

                                    Audit complet (3–5 jours)
                                </dt>
                                <dd class="inline">rapport détaillé + roadmap priorisée</dd>
                            </div>
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-white">
                                    <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="absolute top-1 left-1 size-5 text-indigo-400">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                                    </svg>

                                    Accompagnement / CTO partiel :
                                </dt>
                                <dd class="inline">coaching & suivi opérationnel</dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <div class="pt-6">
                    <img
                            src="/me-photo.jpg"
                            alt="Photo de moi"
                            class="w-full max-w-sm md:max-w-md lg:max-w-lg h-auto rounded-xl shadow-xl ring-1 ring-white/10 mx-auto mt-3"
                    />

                </div>

            </div>
        </div>
    </div>

</section>