---
const LOGO_SNFC = "/logo_sncf.png";
const LOGO_RODEO = "/rodeeo_logo.png";
const LOGO_SUIVID = '/logo_sdf.png';
---
<section class="rounded-lg p-6 shadow">
    <h3 class="text-5xl font-bold bg-gradient-to-r from-blue-400 via-blue-300 to-blue-100 bg-clip-text text-transparent animate-gradient-x whitespace-pre-line font-semibold">
        Quelques projets récents
    </h3>

    <div class="cursor-default grid md:grid-cols-3 gap-8 max-w-6xl mx-auto mt-16 opacity-3 animate-fade-up animation-delay-200">

        <!-- SNCF -->
        <div class="bg-gray-900/50 backdrop-blur-sm rounded-2xl p-6 border border-gray-800/50 hover:border-blue-500/50 transition-colors duration-300 text-center">
            <div class="mx-auto mb-4 flex h-50 w-50 items-center justify-center ">
                <img src={LOGO_SNFC} alt="SNCF" class="w-40 object-contain" />
            </div>
            <p class="text-gray-200 text-lg">Refonte d’une application interne — amélioration fiabilité & perf.</p>
        </div>

        <!-- Rodeeo -->
        <div class="bg-gray-900/50 backdrop-blur-sm rounded-2xl p-6 border border-gray-800/50 hover:border-blue-500/50 transition-colors duration-300 text-center">
            <div class="mx-auto mb-4 flex h-50 w-50 items-center justify-center rounded-full ">
                <img src={LOGO_RODEO} alt="Rodeeo" class="w-20 object-contain" />
            </div>

            <p class="text-gray-200 text-lg">Développement d’une plateforme SaaS de réservation.</p>
        </div>

        <!-- SuiviDeFlotte -->
        <div class="bg-gray-900/50 backdrop-blur-sm rounded-2xl p-6 border border-gray-800/50 hover:border-blue-500/50 transition-colors duration-300 text-center">
            <div class="mx-auto mb-4 flex h-50 w-50 items-center justify-center rounded-full ">
                <img src={LOGO_SUIVID} alt="SuiviDeFlotte" class="w-40 object-contain" />
            </div>

            <p class="text-gray-200 text-lg">Développement et refonte de SaaS / Microservices / intégrations télésurveillance.</p>
        </div>

    </div>
</section>