<section class="rounded-lg p-10 w-auto shadow">

    <div class="flex align-center justify-center mb-5">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-12 w-12 text-blue-300 mr-2.5 ">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
        </svg>

        <h2 class="text-5xl pb-5 font-bold bg-gradient-to-r from-blue-300 via-blue-200 to-blue-100 bg-clip-text text-transparent animate-gradient-x whitespace-pre-linefont-semibold">
            Témoignages
        </h2>
    </div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl bg-gray-900/40 backdrop-blur-md rounded-2xl p-6 mb-3
        hover:bg-blue-800/5
         transition-all duration-400 ease-out transform
         hover:-translate-y-0,5 hover:shadow-[0_1px_4px_rgba(147,197,253,0.15)]">
        <figure class="mt-10">
            <blockquote class="text-center text-xl/8 font-semibold text-white sm:text-2xl/9">
                <p>" Maxime est un super humain, toujours de bonne humeur et toujours à fond dans son travail, j'ai eu grand plaisir à collaborer avec lui. "</p>
            </blockquote>
            <figcaption class="mt-10">
                <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                    <div class="font-semibold text-white">Loïc Chauveau</div>
                    <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-white">
                        <circle r="1" cx="1" cy="1" />
                    </svg>
                    <div class="text-gray-400">CEO of Rodeeo</div>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl bg-gray-900/40 backdrop-blur-md rounded-2xl p-6 mb-3
        hover:bg-blue-800/5
         transition-all duration-400 ease-out transform
         hover:-translate-y-0,5 hover:shadow-[0_1px_4px_rgba(147,197,253,0.15)]">
        <figure class="mt-10">
            <blockquote class="text-center text-xl/8 font-semibold text-white sm:text-2xl/9">
                <p>"Maxime est un atout génial pour une équipe compte tenu de son implication et de son adaptabilité !"</p>
            </blockquote>
            <figcaption class="mt-10">
                <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                    <div class="font-semibold text-white">Jean-Baptise Cadot</div>
                    <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-white">
                        <circle r="1" cx="1" cy="1" />
                    </svg>
                    <div class="text-gray-400">Lead Dev of Rodeeo</div>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl bg-gray-900/40 backdrop-blur-md rounded-2xl p-6 mb-3
        hover:bg-blue-800/5
         transition-all duration-400 ease-out transform
         hover:-translate-y-0,5 hover:shadow-[0_1px_4px_rgba(147,197,253,0.15)]">
        <figure class="mt-10">
            <blockquote class="text-center text-xl/8 font-semibold text-white sm:text-2xl/9">
                <p>"Si vous cherchez une personne compétente, organisée et impliquée, Maxime est clairement la bonne personne pour vos projets."</p>
            </blockquote>
            <figcaption class="mt-10">
                <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                    <div class="font-semibold text-white">Grégory Corin</div>
                    <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-white">
                        <circle r="1" cx="1" cy="1" />
                    </svg>
                    <div class="text-gray-400">Product Engineer - Quattro Creative Studio</div>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl bg-gray-900/40 backdrop-blur-md rounded-2xl p-6 mb-3
        hover:bg-blue-800/5
         transition-all duration-400 ease-out transform
         hover:-translate-y-0,5 hover:shadow-[0_1px_4px_rgba(147,197,253,0.15)]">
        <figure class="mt-10">
            <blockquote class="text-center text-xl/8 font-semibold text-white sm:text-2xl/9">
                <p>"De par sa personnalité curieuse et méthodique, ses compétences certaines en matière de développement web, Maxime sait challenger le produit et répondre à des problématiques complexes de manière organisée, transparente et bienveillante.
                    Je recommande !"</p>
            </blockquote>
            <figcaption class="mt-10">
                <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                    <div class="font-semibold text-white">Jimmy Rossignol</div>
                    <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-white">
                        <circle r="1" cx="1" cy="1" />
                    </svg>
                    <div class="text-gray-400">Freelance Fullstack Developer</div>
                </div>
            </figcaption>
        </figure>
    </div>
</section>
