@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --color-brand-dark: #213072;
  --color-brand-primary: #3170FF; /* ou #5170FF si tu préfères */
  --color-brand-light: #85a8ff;
}

body {
  @apply text-white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.font-cal {
  font-family: 'Cal Sans', 'Inter', system-ui, -apple-system, sans-serif;
}
