---
const currentYear = new Date().getFullYear();
---

<footer class="fixed bottom-8 left-1/2 -translate-x-1/2 z-50">
    <div class="relative">

        <div class="relative px-8 py-1">
            <div class="flex items-center gap-6">


                <!-- Gmail -->


                <!-- Copyright -->
                <div class="text-sm text-gray-400 ">
                    <span> </span>

                    <span class="ml-1 font-cal  text-transparent">
                        Template by: Elkamali Ibrahim
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    @keyframes scaleUp {
        0% { transform: scale(0.8); opacity: 0; }
        100% { transform: scale(1); opacity: 1; }
    }

    .scale-up {
        animation: scaleUp 0.2s ease-out forwards;
    }
</style>
